meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(charset='utf-8')
meta(name="viewport", content="width=device-width, minimum-scale=1.0,maximum-scale=1.0")

- if (typeof post !== "undefined" && post.title !== "undefined")
  title= post.title + ", by Andreas Klein"
  meta(name='description', content=post.description)
- else if (typeof tag !== "undefined")
  title= tag + ", Andreas Klein"
- else if (typeof category !== "undefined")
  title= category + ", Andreas Klein"
- else if (typeof title !== "undefined" )
  title= title + ", Andreas Klein"
- else
  title= 'Frontend developers Blog by Andreas Klein'

meta(name="description", content="I am a freelance developer, heavy Espresso drinker, JavaScript pirat, freestyle Skater & Longboarder.")
link(rel="alternate", type="application/rss+xml", title="RSS", href="http://v7.andreasklein.org/rss")
link(rel="shortcut icon", href="/favicon.ico")
link(rel="apple-touch-icon", href="/apple-touch-icon.png")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300")
link(rel='stylesheet', href='/styles/main.css')
