meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(charset='utf-8')
meta(name="viewport", content="width=device-width, minimum-scale=1.0,maximum-scale=1.0")

- if (typeof post !== "undefined" && post.title !== "undefined")
  title= post.title + ", by Andreas Klein"
- else if (typeof tag !== "undefined")
  title= tag + ", Andreas Klein"
- else if (typeof category !== "undefined")
  title= category + ", Andreas Klein"
- else if (typeof title !== "undefined" )
  title= title + ", Andreas Klein"
- else
  title= 'Frontend Developers Blog, by Andreas Klein'

meta(name="author", content="Andreas Klein")
meta(name="description", content="Freelance Web-Developer and Consultant based in Cologne / Germany. I'm specializing  ")

link(rel="alternate", type="application/rss+xml", title="Andreas Klein", href="http://andreasklein.org/rss")
link(rel="shortcut icon", href="/favicon.ico")
link(rel="apple-touch-icon", href="/apple-touch-icon.png")

script
  if (!("ontouchstart" in window || navigator.msMaxTouchPoints)) document.documentElement.className += ' non-touch';

link(rel='stylesheet', href='/styles/main.css')

if (device === 'desktop' || device === 'tablet')
  link(rel='stylesheet', href="/styles/views/desktop.css")
