extends layout

block content
  article.post#content
    header
        h1
            = post.title

    div.post.content#content
      != post.content

    footer.comments#comments
      h2 Comments
      p Ask me, criticize me, support me, discuss constructively or just share your thoughts on twitter&nbsp;
        a(href="//twitter.com/intent/tweet?original_referer=#{post.url}&text=@ixisio #{post.title}&url=#{post.url}") @ixisio

      div.post-meta
          p.post-date#date
            em written on #{post.dateText}
          if(post.tags.length)
              ul.tags#tags
                li Tags:
                - each tag in post.tags
                  li
                    a.label.label-info(href=tagUrl(tag)) #
                      = tag
