extends layout

block content
  div.post
    h1
      = post.title
    div.meta-data
      span.date #{post.date.getDate()}.#{post.date.getMonth()+1}.#{post.date.getFullYear()}
      div.tags
        - each tag in post.tags
          a(href=tagUrl(tag))
            span.label.label-info #{tag}

    div.post.content
      != post.content

    div.comments
      h2#comments Comments
      p Ask me, criticize me, support me, have a constructive discussion or just share your thoughts on twitter
        a(href="//twitter.com/intent/tweet?original_referer=#{post.url}&text=@ixisio #{post.title}&url=#{post.url}")&nbsp;@ixisio
