extends layout

block content
  div.post
    h1
      = post.title

    div.post.content
      != post.content

    div.comments
      h2#comments Comments
      p Ask me, criticize me, support me, discuss constructively or just share your thoughts on twitter&nbsp;
        a(href="//twitter.com/intent/tweet?original_referer=#{post.url}&text=@ixisio #{post.title}&url=#{post.url}") @ixisio

    div.post-meta
      span.post-date#date
        i written on <b>#{post.dateText}</b>
      if(post.tags.length)
        span.tags#tags
          i &nbsp;and filed under
          ul
            - var i = 0;
            - each tag in post.tags
              - i++;
              li
                a.label.label-info(href=tagUrl(tag))
                  = tag
                if i !== post.tags.length
