doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title Andreas Klein (RSS)
    link http://andreasklein.org
    description Frontend developers Blog by Andreas Klein
    atom:link(href='http://andreasklein.org/rss', rel='self', type='application/rss+xml')
    each post in posts
      - var fullUrl = 'http://andreasklein.org' + post.url
      item
        title= post.title
        link= fullUrl
        description
          | <![CDATA[
          | !{post.content}
          | ]]>
        pubDate= post.date.toUTCString()
        guid= fullUrl
